.avatar {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.name_wrapper {
    display: flex;
    gap: 30px;
    @media screen and (max-width: 600px){
        flex-direction: column-reverse;

    }
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.container {
    display: flex;
    gap: 16px;
    align-items: center;

    @media screen and (max-width: 750px) {
        flex-direction: column;
    }
}

.name {
    font-size: 24px;
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input {
    border: 1px solid #1a1a1a;
    border-radius: 4px;
    padding: 8px 16px;
}

.avatar_wrapper {
    position: relative;

    &:hover {
        .input_file {
            display: inline-block;
        }
    }
}

.input_file {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input_file_btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #656565;
    line-height: 22px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
}

.input_file_text {
    padding: 0 10px;
    line-height: 40px;
    display: inline-block;
}

.input_file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Hover/active */
.input_file:hover .input_file_btn {
    background-color: #262626;
}

/* Disabled */
.input_file input[type=file]:disabled + .input_file_btn {
    background-color: #eee;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
