.reason_wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
}

.reasons_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.button_missed, .button_visited, .missed_class {
    padding: 6px 10px;
}

.button_visited {
    border: 1px solid #1a1a1a;
}

.missed_class {
    background-color: #1a1a1a;
    color: #dddddd;
}
